@model Upgrade

<div class="row">
   <div class="col-12 text-center page-title">
      Add Upgrade to @ViewBag.VehicleNickName
   </div>
</div>
<hr />

<form method="post">
   <div asp-validation-summary="All"></div>
   <input type="hidden" asp-for="Id" />
   <input type="hidden" asp-for="VehicleId" />
   <input type="hidden" asp-for="Vehicle" />

   <div class="row">
      <div class="col-6 offset-3 text-center">
         <label asp-for="Type">Upgrade Type:</label>
         <input class="form-control input" asp-for="Type" placeholder="Upgrade Performed" required />
      </div>
   </div>

   <div class="row">
      <div class="col-6 offset-3 text-center">
         <label asp-for="Date">Date:</label>
         <input class="form-control input" asp-for="Date" required min="1950/01/01" value="@ViewBag.TodaysDate" />
      </div>
   </div>

   <div class="row">
      <div class="col-6 offset-3 text-center">
         <label asp-for="Location">Location:</label>
         <input class="form-control input" asp-for="Location" placeholder="Upgrade Location" />
      </div>
   </div>

   <div class="row">
      <div class="col-6 offset-3 text-center">
         <label asp-for="Cost">Total Expenses:</label>
         <input class="form-control input" asp-for="Cost" min="0.00" max="999999.99" step="0.01" type="number" />
      </div>
   </div>

   <div class="row">
      <div class="col-6 offset-3 text-center">
         <label asp-for="VehicleMileage">Vehicle Mileage:</label>
         <input class="form-control input" asp-for="VehicleMileage" min="0" max="1500000" step="1" type="number" />
      </div>
   </div>

   <div class="row">
      <div class="col-6 offset-3 text-center">
         <label asp-for="WarrantyExpiration">Warranty Expiration:</label>
         <input class="form-control input" asp-for="WarrantyExpiration" min="1950/01/01" value="@ViewBag.TodaysDate" />
      </div>
   </div>

   <div class="row">
      <div class="col-6 offset-3 text-center">
         <label asp-for="Reciept">Upload Reciept:</label>
         <input class="form-control input" asp-for="Reciept" placeholder="Reciept" />
      </div>
   </div>

   <div class="row">
      <div class="col-6 offset-3 text-center">
         <label asp-for="Photo">Upload Photos:</label>
         <input class="form-control input" asp-for="Photo" placeholder="Photos" />
      </div>
   </div>
   <br />

   <div class="row">
      <div class="col-6 text-right">
         <a class="btn btn-cancel-2" asp-controller="Upgrade" asp-action="ListUpgrades" asp-route-vehicleId="@ViewBag.VehicleId">
            Cancel
         </a>
      </div>
      <div class="col-6 text-left">
         <input class="btn btn-confirm" type="submit" value="Add Upgrade" />
      </div>
   </div>
</form>