@model Repair

<div class="row">
   <div class="col-12 text-center page-title">
      Edit @ViewBag.VehicleNickName @Model.Type Repair
   </div>
</div>
<hr />

<form method="post">
   <div asp-validation-summary="All"></div>
   <input type="hidden" asp-for="Id" />
   <input type="hidden" asp-for="VehicleId" />
   <input type="hidden" asp-for="Vehicle" />

   <div class="row">
      <div class="col-6 offset-3 text-center">
         <label asp-for="Type">Repair Type:</label>
         <input class="form-control input" asp-for="Type" placeholder="Repair Performed" required />
      </div>
   </div>

   <div class="row">
      <div class="col-6 offset-3 text-center">
         <label asp-for="Date">Date:</label>
         <input class="form-control input" asp-for="Date" required min="1950/01/01" />
      </div>
   </div>

   <div class="row">
      <div class="col-6 offset-3 text-center">
         <label asp-for="Location">Location:</label>
         <input class="form-control input" asp-for="Location" placeholder="Repair Location" />
      </div>
   </div>

   <div class="row">
      <div class="col-6 offset-3 text-center">
         <label asp-for="PartsCost">Parts Cost:</label>
         <input class="form-control input" asp-for="PartsCost" min="0.00" max="999999.99" step="0.01" type="number" />
      </div>
   </div>

   <div class="row">
      <div class="col-6 offset-3 text-center">
         <label asp-for="LaborCost">Labor Cost:</label>
         <input class="form-control input" asp-for="LaborCost" min="0.00" max="999999.99" step="0.01" type="number" />
      </div>
   </div>

   <div class="row">
      <div class="col-6 offset-3 text-center">
         <label asp-for="VehicleMileage">Vehicle Mileage:</label>
         <input class="form-control input" asp-for="VehicleMileage" min="0" max="1500000" step="1" type="number" />
      </div>
   </div>

   <div class="row">
      <div class="col-6 offset-3 text-center">
         <label asp-for="WarrantyExpiration">Warranty Expiration:</label>
         <input class="form-control input" asp-for="WarrantyExpiration" min="1950/01/01" />
      </div>
   </div>

   <div class="row">
      <div class="col-6 offset-3 text-center">
         <label asp-for="Receipt">Upload Reciept:</label>
         <input class="form-control input" asp-for="Receipt" placeholder="Reciept" />
      </div>
   </div>

   <div class="row">
      <div class="col-6 offset-3 text-center">
         <label asp-for="Photo">Upload Photos:</label>
         <input class="form-control input" asp-for="Photo" placeholder="Photos" />
      </div>
   </div>
   <br />

   <div class="row">
      <div class="col-6 text-right">
         <a class="btn btn-cancel-2" asp-controller="Repair" asp-action="ListRepairs" asp-route-vehicleId="@ViewBag.VehicleId">
            Cancel
         </a>
      </div>
      <div class="col-6 text-left">
         <input class="btn btn-confirm" type="submit" value="Update Repair" />
      </div>
   </div>
</form>