@model User

<div class="row">
   <div class="col-12 text-center">
      <h2 class="page-title display-4">Update Password</h2>
   </div>
</div>
<hr />

<div class="row">
   <div class="col-4 offset-4 text-center">
      <h3>@Model.Email</h3>
   </div>
</div>

<div class="row">
   <div class="col-4 offset-4">
      <hr />
   </div>
</div>
<br />

<div class="row">
   <div class="col-4 offset-4 text-center">
      <h3>Enter New Password</h3>
   </div>
</div>

<form method="post">
   <input type="hidden" asp-for="Id" />
   <input type="hidden" asp-for="IsAdmin" />
   <input type="hidden" asp-for="Vehicles" />
   <input type="hidden" asp-for="Email" />

   <div class="row">
      <div class="col-4 text-center offset-4">
         <input class="form-control input" asp-for="Password" type="password" placeholder="Password" />
      </div>
   </div>
   <br />

   <div class="row">
      <div class="col-6 text-right">
         <a asp-controller="User" asp-action="Details" asp-route-userId="@Model.Id" class="btn btn-cancel-2">
            Cancel
         </a>
      </div>
      <div class="col-6 text-left">
         <input type="submit" value="Update Password" class="btn btn-confirm" />
      </div>
   </div>
</form>